<ul class="uk-navbar-nav">
  <li>
    <ng-container [ngSwitch]="!!you">
      <a title="signed in" *ngSwitchCase="true" href="#">
        <span *ngIf="unseenState.notifications || unseenState.conversations || unseenState.messages">
          <i style="color: red" class="fa fa-circle" aria-hidden="true"></i>
        </span>
        <span style="font-size: xx-large">
          <i class="fa fa-user-circle" aria-hidden="true"></i>
        </span>
      </a>

      <a title="signed out" *ngSwitchCase="false" href="#">
        <span style="font-size: xx-large">
          <i class="fa fa-sign-in" aria-hidden="true"></i>
        </span>
      </a>
    </ng-container>

    <div class="uk-navbar-dropdown">
      <ul class="uk-nav uk-navbar-dropdown-nav">
        <ng-container [ngSwitch]="!!you">
          <ng-container *ngSwitchCase="true">
            <li><a [routerLink]="['/', 'modern', 'users', you!.id]">Home</a></li>
            <li><a [routerLink]="['/', 'modern', 'users', you!.id, 'settings']">Settings</a></li>
            <li><a [routerLink]="['/', 'modern', 'users', you!.id, 'messages']">
              Messages 
              <span *ngIf="unseenState.messages" class="uk-badge">{{ unseenState.messages }}</span>
            </a></li>
            <li><a [routerLink]="['/', 'modern', 'users', you!.id, 'conversations']">
              Conversations 
              <span *ngIf="unseenState.conversations" class="uk-badge">{{ unseenState.conversations }}</span>
            </a></li>
            <li><a [routerLink]="['/', 'modern', 'users', you!.id, 'notifications']">
              Notifications 
              <span *ngIf="unseenState.notifications" class="uk-badge">{{ unseenState.notifications }}</span>
            </a></li>
            <li class="uk-nav-divider"></li>
            <li><a (click)="onSignout()">Sign Out</a></li>
          </ng-container>
  
          <ng-container *ngSwitchCase="false">
            <li><a [routerLink]="['/', 'modern', 'signup']">Sign Up</a></li>
            <li><a [routerLink]="['/', 'modern', 'signin']">Sign In</a></li>
          </ng-container>
        </ng-container>
      </ul>
    </div>
  </li>
</ul>