<div *ngIf="user" class="uk-card uk-card-default border-grey-1">
  <div class="uk-card-header">
    <div class="uk-grid-small uk-flex-middle" uk-grid>
      <div class="uk-width-auto">
        <img class="uk-border-circle" width="40" height="40" 
          [src]="user.icon_link || './assets/img/anon.png'" 
          [alt]="user.displayname"
        />
      </div>
      <div class="uk-width-expand">
        <h3 class="uk-card-title uk-margin-remove-bottom">{{ user.displayname }}</h3>
        <p class="uk-text-meta uk-margin-remove-top">
          @{{ user.username }}<br/>
          Member Since: {{ user.created_at | date : 'MMM d, y - h:mm a' }}
        </p>
      </div>
    </div>
  </div>

  <div class="padding-10"  *ngIf="isNotYou">
    <button
      [disabled]="loading"
      (click)="toggleFollow()"
      data-toggle="tooltip"
      class="uk-button uk-button-small uk-button-{{ isFollowing ? 'info' : 'light' }}"
      type="button"
      placement="top"
      [ngbTooltip]="(isFollowing ? 'Unfollow' : 'Follow') + ' this user'"
    >
      <i class="fa{{ isFollowing ? 's' : 'r' }} fa-star"></i>
      
    </button>
    &nbsp;

    <button
      *ngIf="user.can_message"
      [disabled]="loading"
      (click)="messageFormIsOpen = !messageFormIsOpen"
      class="uk-button uk-button-small uk-button-primary"
      type="button"
      placement="top"
      [ngbTooltip]="(messageFormIsOpen ? 'Close' : 'Message User')"
    >
      <i class="fas fa-{{ messageFormIsOpen ? 'times' : 'envelope' }}"></i>
    </button>
    &nbsp;

    <div *ngIf="messageFormIsOpen">
      <form class="well" [formGroup]="messageForm" (ngSubmit)="sendMessage()">
        <div class="uk-margin">
          <span class="label-info">
            Body ({{ messageForm.value.body.length }}/{{ MSG_MAX_LENGTH }})
          </span>
          <textarea
            type="text"
            class="uk-textarea"
            placeholder="Enter message..."
            rows="3"
            formControlName="body"
          ></textarea>
        </div>
        <div>
          <button
            type="submit"
            title="Message this user"
            class="uk-button uk-button-small uk-button-secondary"
            [disabled]="loading || messageForm.invalid"
          >
            <i class="fas fa-paper-plane"></i>
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>