<div [ngSwitch]="!!you!.stripe_account_id && !!you!.stripe_account_verified">
  <div *ngSwitchCase="false" class="uk-card uk-card-default">
    <div class="uk-card-body">
      Your stripe account is not connected/valid. 
      Go back to setting to finish connecting your stripe account. <br/>
      <a [routerLink]="['/', 'modern', 'users', you.id, 'settings']">Settings</a>
    </div>
  </div>

  <div *ngSwitchCase="true">
    
    
    <div *ngIf="past_deliverings.length" class="uk-card uk-card-default margin-bottom-10 border-grey-1">
      <div class="uk-card-body">
        <p class="uk-text-large">Past Deliveries</p>
      </div>
    </div>
  
    <div *ngFor="let delivery of past_deliverings" class="margin-bottom-10">
      <deliverme-delivery-card
        [delivery]="delivery"
        [you]="you"
      ></deliverme-delivery-card>
    </div>  
  </div>
</div>