<div [ngSwitch]="!!you!.stripe_account_id && !!you!.stripe_account_verified">
  <div *ngSwitchCase="false" class="uk-card uk-card-default">
    <div class="uk-card-body">
      Your stripe account is not connected/valid. 
      Go back to setting to finish connecting your stripe account. <br/>
      <a [routerLink]="['/', 'modern', 'users', you.id, 'settings']">Settings</a>
    </div>
  </div>

  <div *ngSwitchCase="true">
    <ng-container [ngSwitch]="!!current_delivering">
      <div *ngSwitchCase="false" class="uk-card uk-card-default margin-bottom-10 border-grey-1">
        <div class="uk-card-body">
          <p class="uk-text-large">Not currently delivering anything. Find package to deliver?</p>
  
          <div class="uk-margin">
            <span class="label-info">
              Choose Search Criteria
            </span>
            <select class="uk-select" [formControl]="searchCriteriaCtrl">
              <option *ngFor="let c of searchCriterias" [value]="c.value">{{ c.label }}</option>
            </select>
          </div>
  
          <button
            type="submit"
            class="uk-button uk-button-primary"
            [disabled]="loading"
            (click)="findDelivery()"
          >
            {{ (!loading && potential_delivering !== undefined) ? 'Find Another Delivery' : 'Find Delivery' }}
          </button>
  
          <p *ngIf="!loading && potential_delivering === null">
            None found for now.
          </p>
  
          <div class="margin-top-50" *ngIf="!loading && potential_delivering">
            <p>
              Take this delivery? 
              <button
                type="submit"
                class="uk-button uk-button-small uk-button-secondary"
                [disabled]="loading"
                (click)="assignDelivery()"
              >
                Take Delivery!
              </button>
            </p>
            <!-- <deliverme-delivery-card
              [delivery]="potential_delivering"
              [you]="you"
            ></deliverme-delivery-card> -->
  
            <div>
              <p>
                <strong>From City</strong><br/>{{ potential_delivering.from_city }}<br/>
                <strong>From State</strong><br/>{{ potential_delivering.from_state }}<br/>
                <small>ID Required: {{ potential_delivering.from_person_id_required ? 'yes' : 'no' }}</small><br/>
                <small>Signature Required: {{ potential_delivering.from_person_sig_required ? 'yes' : 'no' }}</small>
              </p>
  
              <p>
                <strong>To City</strong><br/>{{ potential_delivering.to_city }}<br/>
                <strong>To State</strong><br/>{{ potential_delivering.to_state }}<br/>
                <small>ID Required: {{ potential_delivering.to_person_id_required ? 'yes' : 'no' }}</small><br/>
                <small>Signature Required: {{ potential_delivering.to_person_sig_required ? 'yes' : 'no' }}</small>
              </p>
            </div>
  
            <!-- <p>
              Take this delivery? 
              <button
                type="submit"
                class="uk-button uk-button-small uk-button-secondary"
                [disabled]="loading"
                (click)="assignDelivery()"
              >
                Take Delivery!
              </button>
            </p> -->
          </div>
        </div>
      </div>
  
      <div *ngSwitchCase="true" class="uk-card uk-card-default margin-bottom-10 border-grey-1">
        <div class="uk-card-body">
          <p class="uk-text-large">Active Delivering</p>
          <deliverme-delivery-card
            [delivery]="current_delivering"
            [you]="you"
            (deliveryCompleted)="onCurrentDeliveryCompleted()"
            (deliveryReturned)="onCurrentDeliveryReturned()"
          ></deliverme-delivery-card>
  
          <div class="margin-top-20"></div>
  
          <div>
            <span *ngIf="!current_delivering.datetime_picked_up && !current_delivering.datetime_delivered" class="">
              <button
                type="button"
                class="uk-button uk-button-small uk-button-secondary"
                [disabled]="loading"
                (click)="unassignDelivery()"
              >
                Cancel Delivery
              </button>
            </span>
            
            <span *ngIf="!current_delivering.datetime_picked_up && !current_delivering.datetime_delivered" class="margin-right-10">
              <button
                type="button"
                class="uk-button uk-button-small uk-button-secondary"
                [disabled]="loading"
                (click)="markDeliveryAsPickedUp()"
              >
                Mark As Picked Up
              </button>
            </span>
  
            <span *ngIf="current_delivering.datetime_picked_up && !current_delivering.datetime_delivered" class="margin-right-10">
              <button
                type="button"
                class="uk-button uk-button-small uk-button-secondary"
                [disabled]="loading"
                (click)="markDeliveryAsDroppedOff()"
              >
                Mark As Dropped Off
              </button>
            </span>
  
            <span *ngIf="current_delivering.datetime_picked_up && !current_delivering.datetime_delivered" class="margin-right-10">
              <button
                type="button"
                class="uk-button uk-button-small uk-button-secondary"
                [disabled]="loading"
                (click)="markDeliveryAsReturned()"
              >
                Mark As Returned
              </button>
            </span>
          </div>
        </div>
      </div>
    </ng-container>
    
    <div *ngIf="past_deliverings.length" class="uk-card uk-card-default margin-bottom-10 border-grey-1">
      <div class="uk-card-body">
        <p class="uk-text-large">Past Deliveries</p>
      </div>
    </div>
  
    <div *ngFor="let delivery of past_deliverings" class="margin-bottom-10">
      <deliverme-delivery-card
        [delivery]="delivery"
        [you]="you"
      ></deliverme-delivery-card>
    </div>  
  </div>
</div>