<div id="alerts-list-container">
  <!-- <div
    *ngFor="let currentAlert of alertsList; index as i"
    class="alert alert-{{ currentAlert.type }}"
    role="alert"
  >
    <span>{{ currentAlert.message }}</span>
    <button type="button" class="close" aria-label="Close" (click)="closeAlert(currentAlert)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div> -->

  <div
    *ngIf="alertsList.length"
    class="uk-alert-item uk-alert-{{ alertsList[0]?.type }}"
    role="alert"
    uk-alert
  >
    <a class="uk-alert-close" uk-close (click)="closeAlert()"></a>
    <p>{{ alertsList[0]?.message }} {{ alertsList.length > 1 ? '(' + alertsList.length + ')' : '' }}</p>
  </div>
</div>