<div>
  <header id="world-header">
    <div class="row fill parallax-window reach no-marg pos-rel"
      id="welcome-slide"
      data-parallax="scroll"
      data-image-src="./assets/img/world-wallpaper.png"
    >
      <div class="dimmer"></div>

      <div class="pos-rel" style="padding-top: 20vh;">
        <div class="middlr">
          <h3 id="welcome-text" class="text-center">Welcome to Travellrs!</h3>
          <br>
          <p id="welcome-text2" class="text-center">Record and share all the places you've been to in the world!</p>
        </div>
      </div>
    </div>
  </header>

  <!-- <div class="uk-container row-pad-1"></div> -->
</div>