<div>
  <div class="uk-container row-pad-1">
    <p class="uk-text-lead text-center">Looking to deliver and make money?</p>

    <div>
      <div class="uk-margin">
        <span class="label-info">
          Location (City and State)
        </span>
        <input type="text" id="location-input" class="uk-input" placeholder="Enter a Location" />

        <p class="text-center">
          <button
            type="submit"
            class="uk-button uk-button-primary"
            (click)="searchDeliveries()"
          >
            Search
          </button>
        </p>
      </div>

      <div class="uk-margin">
        
      </div>
    </div>
  </div>
</div>