<div class="uk-container">
  <form class="row-pad-1" [formGroup]="signinForm" (ngSubmit)="onSubmit()">
    <fieldset class="uk-fieldset">
      <legend class="uk-legend">Sign In</legend>
      
      <div class="uk-margin">
        <span class="label-info">
          Email ({{ signinForm.value.email.length }}/{{ TEXT_FORM_LIMIT }})
        </span>
        <input class="uk-input" type="email" placeholder="Email" formControlName="email" >
      </div>
      <div class="uk-margin">
        <span class="label-info">
          Password ({{ signinForm.value.password.length }}/{{ TEXT_FORM_LIMIT }})
        </span>
        <input class="uk-input" type="password" placeholder="Password" formControlName="password" >
      </div>
    </fieldset>

    <button
      type="submit"
      class="uk-button uk-button-primary"
      [disabled]="!signinForm.valid || loading"
    >
      Submit
    </button>
  </form>
</div>